@import "../../utilities.scss";

.select-container {
  display: flex;
  position: relative;
  height: max-content;
  align-self: flex-end;
  li {
    flex-direction: row;
    display: flex;
    cursor: pointer;
  }
}

.flag-container {
  border-radius: 2px;
  overflow: hidden;
  height: fit-content;
  width: 1.2rem;
  height: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .flag-selected {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

.flag-item {
  margin-top: $spacing-normal;
  &-first {
    margin-top: 0;
  }
}

@media (min-width: $primary-breakpoint) {
  .flag {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .flag-label {
    margin-left: $spacing-normal;
    font-size: $font-size-normal;
  }
}
@media (max-width: $primary-breakpoint) {
  .flag {
    font-size: 2rem;
    line-height: 2rem;
  }

  .flag-label {
    margin-left: $spacing-normal;
    font-size: $font-size-big;
  }
}
