@import "./utilities.scss";

body {
  background-color: $secondary-color;
}

* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  color: $primary-text-color;
}

a {
  text-decoration-line: none;
}
