$primary-color: #2d2d2d;
$secondary-color: #444444;
$accent-color: #347fe1;

$error-color: #d12e2e;

$primary-text-color: #f2f2f2;
$secondary-text-color: #2f2f2f;

$header-horizontal-space: 5rem;

$font-size-small: 0.95rem;
$font-size-normal: 1.05rem;
$font-size-medium: 1.4rem;
$font-size-big: 1.8rem;

$spacing-small: 0.5rem;
$spacing-normal: 1rem;
$spacing-medium: 2rem;
$spacing-big: 4rem;

$border-radius-normal: 4px;

$primary-breakpoint: 900px;
$secondary-breakpoint: 600px;

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
