@import "../../utilities.scss";

$header-top: 7rem;

.side-menu {
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $secondary-color;
  transition: top 0.2s ease;
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;
  }

  .header {
    margin-left: auto;
    padding: $spacing-small $spacing-normal;
    .close {
      cursor: pointer;
    }
  }
}

.opened {
  top: $header-top;
  z-index: 5;
}
